@{
    ViewData["Title"] = "Privacy Policy";
}
<h2>@ViewData["Title"]</h2>
@if(@ViewBag.Token!=null)
{
    <script>   
        alert('@Html.Raw(@ViewBag.Token)');
        localStorage.setItem("token", '@Html.Raw(@ViewBag.Token)');
    </script>
}
<p>Use this page to detail your site's privacy policy.</p>
